@import './blocks/header';
@import './blocks/wrapper';
@import './blocks/dropped';
@import './blocks/wrodded';
@import './blocks/akula';
@import './blocks/wolf';
@import './blocks/last';
@import './blocks/form';
@import './blocks/footer';
@import './blocks/softech';
@import './blocks/vital';
@import './blocks/shabnam';
@import './blocks/media';
@font-face {
    font-family: 'TT Norms';
    src: url('/fonts/TTNorms-Regular.woff2') format('woff2'),
    url('/fonts/TTNorms-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms';
    src: url('/fonts/TTNorms-Bold.woff2') format('woff2'),
    url('/fonts/TTNorms-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms';
    src: url('/fonts/TTNorms-Medium.woff2') format('woff2'),
    url('/fonts/TTNorms-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
body{
    font-family: 'TT Norms';
    padding: 0;
    margin: 0;
}
.container{
    margin: 0 auto;
    width: 1920px;
    background-color: #161616;
}
.about--container{
    margin: 0 auto;
    width: 1920px;
    background: #FFFFFF;
}