@import './blocks/header';
@import './blocks/wrapper';
@import './blocks/dropped';
@import './blocks/wrodded';
@import './blocks/akula';
@import './blocks/wolf';
@import './blocks/last';
@import './blocks/form';
@import './blocks/footer';
@font-face {
    font-family: 'TT Norms';
    src: url('/fonts/TTNorms-Regular.woff2') format('woff2'),
    url('/fonts/TTNorms-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms';
    src: url('/fonts/TTNorms-Bold.woff2') format('woff2'),
    url('/fonts/TTNorms-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms';
    src: url('/fonts/TTNorms-Medium.woff2') format('woff2'),
    url('/fonts/TTNorms-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
body{
    font-family: 'TT Norms';
    padding: 0;
    margin: 0;
}
.container{
    margin: 0 auto;
    width: 1920px;
    background-color: #161616;
    
}
.team {
    margin-top: 180px;
    padding-bottom: 163px;
  }
  
  .team__wrapper {
    margin-top: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .team__card {
    width: 392px;
    position: relative;
    overflow: hidden;
  }
  
  .team__card:hover .hover {
    opacity: 1;
    -webkit-transition: 700ms;
    transition: 700ms;
    cursor: pointer;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  
  .team__card:hover .hover__text {
    -webkit-transition: 700ms;
    transition: 700ms;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    cursor: pointer;
  }
