.footer{
    width: 1920px;
    height: 415px;
    background-color: #9F9F9F;
    margin-top: 300px;
    
    &__logo{
        margin-left: 98px;
    }
    &__list{
        list-style-type: none;
        display: flex;
        margin-left: 66px;
    }
    &__item{
        margin-right: 15px;
    }
    &__title{
        color: rgba(71, 71, 71, 0.5);
        font-weight: 700;
        font-size: 40px;
        margin-left: 100px;
    }
    &__list2{
        margin-left: 919px;
        margin-top: -285px;
        list-style-type: none;
    }
    &__title2{
        color: rgba(0, 0, 0, 0.8);
        font-size: 26px;
        font-weight: 700;
    }
    &__link{
        color: rgba(0, 0, 0, 0.5);
        font-weight: 400;
        font-size: 26px;
        text-decoration: none;
        display: block;
        margin-top: -15px;
        margin-bottom: 15px;
    }
    &__list3{
        margin-left: 1570px;
        margin-top: -285px;
        list-style-type: none;
    }
    &__item3{
        margin-bottom: 14px;
    }
    &__link1{
        color: rgba(71, 71, 71, 0.5);
        font-weight: 700;
        font-size: 26px;
        text-decoration: none;
    }
    &__hr{
        border: 1px solid #898989;
        margin-top: 85px;
    }
    &__last--link{
        position: absolute;
        color: rgba(71, 71, 71, 0.8);
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
        margin-left: 100px;
        margin-top: 15px;
    }
    &__last--link2{
        position: absolute;
        color: rgba(71, 71, 71, 0.8);
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
        margin-left: 1660px;
        margin-top: 15px;
    }
}