.header{
    display: flex;
    background-color: #fff;
    width: 1920px;
    max-height: 100vh;
    justify-content: center;
    
    &__menu{
        margin-top: 40px;
        position: absolute;
        margin-left: -850px;
    }
    &__link{
        position: absolute;
    }
    &__btn{
        position: absolute;
        background-color:  #ED111D;
        padding-left: 29px;
        padding-top: 11px;
        width: 121px;
        height: 35px;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 33px;
        margin-left: 1605px;

        &:hover{
            border: 1.5px solid #ED111D;
            background-color: transparent;
            transition: 1s ease all;
            color: #ED111D;
        }
    }
}