.last{
    &__img{
        margin-top: 177px;
        margin-left: 100px;
        cursor: pointer;
    }
    &__title{
        font-weight: 500;
        font-size: 26px;
        color: rgba(255, 255, 255, 1);
        line-height: 156.02%;
        margin-left: 100px;
        margin-top: 22px;
    }
    &__text{
        line-height: 130.52%;
        font-weight: 700;
        font-size: 40px;
        color: #fff;
        margin-top: -8px;
        margin-left: 99px;
    }
    &__list{
        display: flex;
        list-style-type: none;
    }
    &__item{
        margin-right: 180px;
    }
    &__link{
        text-decoration: none;
        margin-left: 500px;
    }
    &__link2{
        position: absolute;
        text-decoration: none;
        margin-left: 500px;
        margin-top: 50px;
    }
    &__list3{
        list-style-type: none;
        display: flex;
        margin-left: 820px;
        margin-top: 120px;
        justify-content: baseline;
    }
    &__hr{
        border: 3px solid #fff;
        background-color: #fff;
        width: 30px;
        border-radius: 5px;
    }
    &__title4{
        position: absolute;
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        margin-left: 11px;
        margin-top: -32px;
        cursor: pointer;
    }
    &__title3{
        font-weight: 500;
        font-size: 26px;
        color: #fff;
        margin-right: 18px;
        margin-left: 18px;
        margin-top: -28.8px;
        cursor: pointer;
    }
    &__last--link{
        position: absolute;
        border-radius: 5px;
        background: #FFFFFF;
        width: 113px;
        height: 32px;
        padding-left: 37px;
        padding-top: 13px;   
        margin-left: 90px;
        margin-top: -55px;
    }
}