@media screen and (max-width: 768px) {
    .header{
        width:1366px;
    }
    .container{
        width: 1366px;
    }
    .header__menu{
        margin-left: -600px;
    }
    .header__btn{
        margin-left: 1120px;
    }
    .wrapper__item{
        margin-left: 80px;
        &:nth-child(2){
            margin-left: 90px;
        }
        &:nth-child(3){
            margin-left: 135px;
        }
    }
    .wrapper{
        width: 1366px;
    }
    .wrapper__text{
        display: none;
    }
    .wrapper__text2{
        display: none;
    }
    .wrapper__item3{
        &:nth-child(1){
            margin-left: 560px;
        }
        &:last-child{
            margin-left: -200px;
        }
        &:nth-child(2){
            display: none;
        }
    }
    .wrapper__list2{
        margin-left: 1250px;
    }
    .dropped__list{
     justify-content: stretch;
    }
    .dropped__item{
        margin-left: 80px;
        &:nth-child(1){
            margin-left: 40px;
        }
    }
    .dropped__list2{
        display: block;
    }
    .dropped__item2{
        display: block;
        margin-bottom: 50px;
        margin-left: 130px;
        &:nth-child(5){
            margin-left: 180px;
        }
    }
}