.softech{
    margin-top: 20px;
    &__title{
        margin-left: 60px;
        color: rgba(0, 0, 0, 0.5);
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 135%;
    }
    &__text{
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 130%;
text-align: center;
color: #000000;
margin-top: 33px;
    }
    &__img{
        margin-left: 559px;
        margin-top: 20px;
    }
}