.wolf{
    background-color: #fff;
    height: 251px;
    margin-top: 140px;
    
    &__img{
        margin-left: 100px;
        margin-top: 22px;
    }
    &__list{
        display: flex;
        list-style-type: none;
        margin-left: 60px;
        margin-top: 48px;
    }
    &__item{
        margin-right: 152px;
        
        &:nth-child(2){
            margin-right: 171px;
            margin-top: 8px;
        }
        &:nth-child(3){
            margin-right: 143px;
            margin-top: 18px;
        }
        &:nth-child(4){
            margin-right: 166px;
            margin-top: 3px;
        }
        &:nth-child(5){
            margin-right: 100px;
            margin-top: 3px;
        }
    }
}